
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @System.Web.Optimization.Scripts.Render("~/Sample/javascript")
    @System.Web.Optimization.Styles.Render("~/Sample/css")
</head>
<body>
    <div> 
        <h1>Example with Bundling and Minification</h1>
    </div>
</body>
</html>
