
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        a{
            margin-left:10px;
        }
    </style>
</head>
<body>
    <div> 
        <h1 style="text-align:center;">Welcome to ASP.Net MVC5 Tutorial</h1>
        <hr />
        <div style="text-align:center;">
            <a href="/Home/Index">Home</a>
            <a href="/Home/Aboutus">About</a>
            <a href="/Home/Contactus">Contact</a>
            <a href="/Home/Blogs">Blogs</a>
        </div>
    </div>
</body>
</html>
