<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div> 
        <h1>Welcome to Home Page</h1>
        <h3>Welcome @TempData["Username"]</h3>
    </div>
</body>
</html>
