<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <h1>Example with TempData</h1>
        <hr />
        <div>
            <form action="" method="post">
                <label>Enter Username: </label>
                <input type="text" name="username" />
                <br />
                <label>Enter Password: </label>
                <input type="password" name="password" />
                <br />
                <input type="submit" name="sb1" value="Login" />
            </form>
            <h5 style="color:red;">@ViewBag.Message</h5>
        </div>
    </div>
</body>
</html>
