<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetProductInfo</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container"> 
        <form action="" method="post">
            <div>
                <label class="form-label">Enter Product ID: </label>
                <input type="text" class="form-control" name="productId" />
            </div>
            <div>
                <label class="form-label">Enter Product Name: </label>
                <input type="text" class="form-control" name="productName" />
            </div>
            <div>
                <label class="form-label">Enter Product Cost: </label>
                <input type="text" class="form-control" name="productCost" />
            </div>
            <div style="margin-top:10px;">
                <input type="submit" name="sb1" class="btn-lg form-control btn btn-success" value="Register" />
            </div>
        </form>
    </div>
</body>
</html>
