
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sample</title>
</head>
<body>
    <div> 
        <h1>This is Sample View from Index1 Action Method</h1>
    </div>
</body>
</html>
