<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Data Sharing Between View and Controller using Get Request</h1>
        <hr />
        <a href="/Home/Index1?stdNo=101&stdName=Srikanth">Index1</a>
        <a href="/Home/Index2?stdNo=102&stdName=Raju">Index2</a>
        <a href="/Home/Index3?stdNo=103&stdName=Abhi">Index3</a>
        <a href="/Home/Index4/Srikanth">Index4</a>
    </div>
</body>
</html>
