
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.7.1.js"></script>
<h2>Ajax programming using jQuery</h2>
<hr />
<div>
    Enter Department Name: 
    @Html.TextBox("dname")
    <br /><br />
    <button id="b1" onclick="F1()">GetEmpCount</button>
    <br /><br />
    <span id="sp1"></span>
</div>

